@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> The Joel Hilton Film Collection Awaits You.</p>
    <br />
    <img src="~/img/hilton.jpg" width="300" class="center" />
    <br /> <br /> <br />
    <a asp-action="NewMovie">Click here to add a new movie!</a>
</div>

